<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/public/css/404.css">
</head>
<body>
    <header>
        <div class="header-container">
            <!-- Header content can be added here -->
        </div>
    </header>
    
    <div class="container">
        <div class="error-container">
            <span class="error-bg">404</span>
            <h1>404</h1>
        </div>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <a href="/admin/add-view-patient">Go Back Home</a>
      
        

    </div>
</body>
</html>