<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Clinic - Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
     
</head>
<body>

    
    <!-- <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Diamond Clinic</h1>
            <p>Your smile, our priority.</p>
            
            <a href="/auth/login" class="btn">Login</a>
        </div>
    </section> -->
    <section class="hero">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="shape-3"></div>
        <div class="shape-4"></div>
        <div class="hero-content">
            <h1>Welcome to Diamond Clinic</h1>
            <p>Your smile, our priority.</p>
            <a href="/auth/login" class="btn">Login</a>
        </div>
    </section>
    
    <%- include('includes/footer.ejs') %>
    
    

    

</body>
</html>
